@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$white: #fff;
$green: #16a34a;
$grey-green: #d7e9dd;

body,
html {
  // height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 5fr;
  gap: 1rem;
  grid-row: 1 / 3;
  background-color: $green;
  color: $white;

  img {
    height: 50%;
    justify-self: center;
    filter: invert(99%) sepia(1%) saturate(15%) hue-rotate(354deg)
      brightness(103%) contrast(100%);
  }

  .dash-main,
  .dash-extras {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    font-size: 20px !important;
  }

  .sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;

    h1 {
      justify-self: start;
      font-size: 32px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  li {
    grid-column: 2 / 3;
    justify-self: start;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  align-items: center;
  justify-items: center;
  padding-left: 3rem;
  box-shadow: 0 4px 4px 0 gray;
  position: relative;

  .searchbar {
    display: grid;
    grid-template-columns: 1fr 25fr;
    gap: 15px;
    justify-self: start;

    input {
      outline: none;
      border-radius: 10px;
      border: 1px solid $grey-green;
      background-color: $grey-green;
    }
  }

  .greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    justify-self: start;

    .cat-container {
      display: grid;
      align-items: center;
      grid-row: 1 / 3;
      height: 8rem;
      width: 8rem;
      justify-self: end;
    }

    p {
      align-self: end;
      font-weight: bold;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }

    h2 {
      font-size: 32px;
      font-weight: bold;
    }
  }

  .top-right-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    font-weight: bold;

    .cat-container {
      display: grid;
      height: 5rem;
      width: 5rem;
      align-items: center;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
  }

  .nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    button {
      background-color: $green;
      color: $white;
      border: none;
      border-radius: 2rem;
      font-weight: bold;
      font-size: 16px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      cursor: pointer;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr !important;
  grid-template-rows: 1fr 12fr;
  gap: 30px;
  background-color: $grey-green;
  padding-left: 3rem;

  h3,
  h4,
  h5 {
    display: grid;
    align-items: end;
    font-size: 24px;
    font-weight: bold;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column: 1 / 2;
  gap: 15px;
}

.card {
  height: 200px;
  background-color: $white;
  border-left: 1rem solid #7c3aed;
  border-radius: 10px;

  .card-content {
    display: grid;
    gap: 5px;
    padding: 2rem;
  }

  h6 {
    font-size: 24px;
    font-weight: bold;
  }
}

.side-stuff {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 5fr;
  padding-right: 3rem;
  gap: 30px;
}

h4,
h5 {
  grid-column: 1 / 2;
}

h4 {
}

.announcements,
.trending {
  background-color: $white;
  grid-column: 1 / 2;
  border-radius: 10px;
}
