@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$green: #16a34a;

body,
html {
  // height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  gap: 15px;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 5fr;
  gap: 1rem;
  grid-row: 1 / 3;
  background-color: $green;
  color: #fff;

  img {
    height: 50%;
    justify-self: center;
    filter: invert(99%) sepia(1%) saturate(15%) hue-rotate(354deg)
      brightness(103%) contrast(100%);
  }

  .dash-main,
  .dash-extras {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    font-size: 20px !important;
  }

  .sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;

    h1 {
      justify-self: start;
      font-size: 32px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  li {
    grid-column: 2 / 3;
    justify-self: start;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-items: center;

  .searchbar {
    display: grid;
    grid-template-columns: 1fr 30fr;
    gap: 15px;
  }

}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 8fr;
  gap: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 2;
  gap: 15px;
}

.card {
  height: 200px;
  background-color: aqua;
}

h4 {
  grid-row: 1 / 2;
}
