$green: #16a34a;

body, html {
    // height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    gap: 15px;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    gap: 15px;
    grid-row: 1 / 3;
    background-color: $green;

    h1, .dash-main, .dash-extras {
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 24px !important;
    }
    
    a {
        text-decoration: none;
    }
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 15px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 2;
    gap: 15px;
}

.card {
    height: 200px;
    background-color: aqua;
}

h4 {
    grid-row: 1 / 2;
}

